
.section-contacts {
    overflow: hidden;
    padding-bottom: 0;
}

.section-contacts__container {
    position: relative;
}

.section-contacts__container::before {
    content: '';
    position: absolute;
    background: url(C:/Users/Администраторр/Desktop/$$$/Правильная_верстка/Pizza/img/section-contacts/tomatoes.jpg) no-repeat;
    background-size: cover;
    width: 672px;
    height: 397px;
    bottom: -100px;
    right: -350px;
}

.section-contacts__title {
    margin-bottom: 0;
}

.contacts {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

.contacts__start {
    width: 50%;
}

.contacts__end {
    width: 50%;
    padding-left: 30px;
}

.contacts__map {
    height: 450px;
    height: 450px;
    background: #fef0b4;
}

.contacts__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin: 0 0 5px;
}

.contacts__text {
    margin: 0 0 5px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.contacts__item {
    margin-bottom: 35px;
}

.contacts__item:last-of-type {
    margin-bottom: 0;
}

.contacts__phone {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s;
}

.contacts__phone:hover {
    color: #ffa650;
}

/*-socials start-*/
.socials {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.socials__item {
    margin-right: 7px;
}

.socials__icon {
    transition: border 0.2s;
}

.socials__icon--vk:hover {
    border-bottom: 2px solid #5078a5;
}

.socials__icon--fb:hover {
    border-bottom: 2px solid #5078a5;
}

.socials__icon--inst:hover {
    border-bottom: 2px solid #e6369c;
}

.socials-link {
    display: inline-block;
}

@media (max-width: 1800px) {
    .section-contacts__container::before {
        right: -250px;
    }
}

@media (max-width: 1600px) {
    .section-contacts__container::before {
        right: -150px;
        bottom: -200px;
    }
}

@media (max-width: 1400px) {
    .section-contacts__container::before {
        right: -120px;
        bottom: -90px;
    }
}

@media (max-width: 1300px) {
    .section-contacts__container::before {
        right: -50px;
    }
}

@media (max-width: 1200px) {
    .section-contacts__container::before {
        content: none;
    }
}

@media (max-width: 992px) {
    .contacts__map {
        height: 350px;
    }
}

@media (max-width: 767px) {
    .contacts__start {
        width: 100%;
        order: 1;
    }

    .contacts__end {
        width: 400px;
        margin-bottom: 40px;
        padding-left: 0;
        max-width: 100%;
    }

    .contacts__map {
        margin: 0 -20px;
        height: 300px;
    }

    .socials__icon {
        width: 45px;
        height: 45px;
        margin-right: 15px;
    }
}
/*-socials end-*/